body{
    box-sizing: border-box;

}
#container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#week1, #week2{
    width:45%;
    float: left;
    margin: 5px 5px 20px 5px;
}
ul{
    display: inline-block;
    text-align: start;
}
footer{
    margin-top: 10px;
    clear: both;
}
