*{
    padding: 1px;
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: cadetblue;
}
footer, nav{
    color: white;
    text-align: center;
    background-color: darkslategrey;
    padding: 1px;
    clear: both;
}
nav ul{
    text-align: left;
    margin: 0 10px;
}
nav li{
    display: inline-block;
    border-right: 1px solid black;
    padding: 5px 15px;
}
#column1{
    background-color: dimgray;
    width:25%;
}
#column2{
    background-color: darkgray;
    width:50%;
}
#column3{
    background-color: lightgray;
    width: 25%;
}
#column1,#column2,#column3{
    float: left;
    height: 300px;
    padding: 2%;
}

#validators{
    position: fixed;
    bottom:0;
    right:0;
}

#validators img{
    opacity: 0.5;
}


@media screen and (max-device-width: 600px){
    #column1,#column2{
        width: 50%;
    }

    #column3{
        float: left;
        clear: both;
        width: 100%;
    }
}